#especial {
            font-weight: bold;
            color: red;
        }

/* Estilo general para el título utilizando la clase 'titulo' */
.titulo {
    font-size: 36px;
    color: darkgreen;
}

/* Estilo para el párrafo con el id 'destacado' */
#destacado {
    background-color: lightyellow;
    color: darkgreen;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo común para los párrafos con la clase 'contenido' */
.contenido {
    color: darkslategray;
    margin: 10px 0;
    line-height: 1.5;
font-family: Arial, sans-serif;
     font-size: 18px;
}

/* Sobrescribir el estilo para el párrafo con la clase 'contenido' y el id 'especial' */
#especial.contenido {
    background-color: lightblue;
    border: 2px solid steelblue;
    padding: 10px;
    border-radius: 8px;
}
