nbody {
  background-color: #e0e0e0;
  font-family: 'Arial', sans-serif;
}
h1 {
  color: darkblue;
  text-align: center;
}
.external {
  color: green;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f6f9f9;
}
